<h3>All Services</h3>

<ul>
<% @services.each do |service| %>
    <% if logged_in? %>
    <%= link_to "ID: #{service.id}", edit_service_path(service) %><br>
    <% end %>
    Name: <%= service.name %><br>
    Duration: <%= service.minutes%><br>
    Price: $<%= service.price%><br>
    <br>
<% end %>
</ul>

<%= link_to 'Create a New Service', new_service_path if logged_in? %>