<h3>All Services</h3>

<% @services.each do |service| %>
    Name: <%= service.name %><br>
    Duration: <%= service.minutes%><br>
    Price: $<%= service.price%><br>
    ID: <%= link_to service.id, edit_service_path(service) %><br><br>
<% end %>

<p>
<%= link_to 'Create a New Service', new_service_path %>
</p>