<h2>All Services</h2>

<table class="index">
  <thead><th>Service</th><th>Duration</th><th>Price</th></thead>
  <tbody>
    <% @services.each do |service| %>   
    <tr>
      <td>
        <% if logged_in? %>
            <%= link_to service.name, edit_service_path(service) %>
        <% else %>
            <%= service.name %>
        <% end %>
      </td>
      <td><%= service.minutes%> minutes</td>
      <td>$<%= service.price%></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="action-link">
  <p><%= link_to 'Create a New Service', new_service_path if logged_in? %></p>
</div>