<%# Resource: https://stackoverflow.com/questions/42142020/i-only-want-certain-hours-on-my-rails-time-select-form %>

<h3>Create New Schedule</h3>

<%= form_for @schedule do |f| %>

  <%= f.label :start_time%> <%# <%= f.time_select :start_time, {minute_step: 15 ,ampm: true} %>    
  <%= f.time_select :start_time, { 
        ampm: true,
        ignore_date: true,
        start_hour: 8, 
        end_hour: 11,
        discard_minute: true,
        prompt: true,
        prompt: { hour: "Start" }
        }
  %> <br><br> 

  <%= f.label :end_time %>
  <%= f.time_select :end_time, {
            ampm: true,
            ignore_date: true,
            start_hour: 12, 
            end_hour: 19,
            discard_minute: true,
            prompt: true,
            prompt: { hour: "End" }
            }
  %> <br><br> 

  <%= f.label :workday, 'Days Working' %><br>
  <% @days.each do |day| %>
    <%= f.label :workday, day %>
    <%= f.check_box :workday %> 
  <% end %><br><br>


  <%= f.label :stylist, 'Link a Stylist' %> 
  <%= f.collection_select :stylist_id, Stylist.all, :id, :name %><br><br>
  <%#  Stylist.all.where(:schedule_id.is_blank) %>

  <%= f.submit "Create Schedule" %><br><br>
<% end %>


<%# <p><%= link_to 'Return to Services', services_path %></p>