<h2>Manage Clients</h2>

<span>Search by Name</span>
<%= form_tag(clients_path, method: :get) do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
    <%= link_to "Clear Search", clients_path, class:"cancel-button" if params[:search] %>
<% end %>
<br>

<table>
  <thead><th>Name</th><th>Email</th><th>Phone</th><th>Edit</th><th>Action</th></thead>
  <tbody>
    <% @clients.each do |client| %>
    <tr>
      <td><%= client.name %></td>
      <td><%= client.email %></td>
      <td><%= number_to_phone(client.phone, area_code: true) %></td>
      <td><%= link_to 'Edit', edit_client_path(client) %></td>
      <td><%= link_to "Book Appointment", new_client_appointment_path(client) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="action-link">
  <p><%= link_to 'Create a New Client', new_client_path %></p>
</div>