<h3>Manage Clients</h3>

<ol>
<% @clients.each do |client| %>
    <li>
    <%= link_to "ID: #{client.id}", edit_client_path(client) %><br>
    Name: <%= client.name %><br>
    Email: <%= client.email %><br>
    Phone: $<%= client.phone %><br>
    <%= link_to "Book Appointment for: #{client.name}", new_client_appointment_path(client) %><br>
    <br>
    </li>
<% end %>
</ol>

<p>
<%= link_to 'Create a New Client', new_client_path %>
</p>