<h3>Edit Stylist:</h3>

<%= form_for @stylist do |f| %>

  <%= f.label :name%>
  <%= f.text_field :name, class: 'form-control' %><br><br>

  <%= f.label :email %>
  <%= f.text_field :email, class: 'form-control' %><br><br>

  <%= f.label :handle %>
  <%= f.text_field :handle, class: 'form-control' %><br><br>
  
  <%= f.label :level %>
  <% (1..5).to_a.each do |number| %>
    <%= f.label :level, number %>
    <%= f.radio_button :level, number %> 
  <% end %><br><br>
  

  <%= f.label :service %> 
  <%= f.collection_check_boxes :service_ids, Service.all, :id, :name %><br><br>
  
  <%= f.submit "Save Stylist", class: "btn btn-primary" %><br><br>
<% end %>

<br>
<%= button_to 'Delete Stylist', stylist_path(@stylist), method: :delete, data: {confirm: "Are you sure you want to delete '#{@stylist.name}'?"} %>

<br>
<p><%= link_to 'Return to Home', '/' %></p>