<h3>Create A New Stylist</h3>

<%= form_for @stylist do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %><br><br>

  <%= f.label :email %>
  <%= f.text_field :email, class: 'form-control' %><br><br>

  <%= f.label :handle %>
  <%= f.text_field :handle, class: 'form-control' %><br><br>
  
  <%= f.label :level %><br>
  <% (1..5).to_a.each do |number| %>
    <%= f.label :level, number %>
    <%= f.radio_button :level, number %> 
  <% end %><br><br>
  

  <%= f.label :service, 'Link Services' %><br>
  <%= f.collection_check_boxes :service_ids, Service.all, :id, :name %><br><br>
  
  <%= f.label :service, 'Add Service' %> <br>
  <%= f.fields_for :services, @stylist.services.build do |services_fields| %>
    
    <%= services_fields.label :name %>
    <%= services_fields.text_field :name %>
    
    <%= services_fields.label :minutes%>
    <%= services_fields.text_field :minutes %>
    
    <%= services_fields.label :price%>
    <%= services_fields.text_field :price %>
  <% end %>


  <br><br>
  <%= f.submit "Create Stylist", class: "btn btn-primary" %><br><br>
<% end %>


<p><%= link_to 'Return to Home', '/' %></p>