<h3>NEW STYLIST - Sign up</h3> 

<p>
<%= form_for @user, controller: 'users', action: 'create' do |f| %>
 <%= render 'shared/error_messages' %>  <%#partail %>
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %><br>

  <%= f.label :email %>
  <%= f.text_field :email, class: 'form-control' %><br>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %><br>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control' %><br>

  <%= f.label :client, "Employee = YES" %> <br>
  <%= f.hidden_field :client, value: "false" %>  
  <%= f.submit "Create Account", class: "btn btn-primary" %>
<% end %>
</p>

<p><%= link_to 'Return to Home', '/' %></p>