<h3>Stylist Profile</h3>

Name: <%= @stylist.name %> <br>

Handle: <%= @stylist.handle %> <br>

Email:  <%= @stylist.email %> <br>

Level:  <%= @stylist.level %> <br>

Services:  
<% @stylist.services.each do |service| %>
    <li><%= link_to service.name, stylist_service_path(@stylist.id, service.id) %></li>
<% end %>

<p><%= link_to 'Edit Stylist', edit_stylist_path if logged_in? %></p>
<p><%= link_to 'View Appointments', stylist_appointments_path(@stylist.id) if logged_in? %></p>