<h3>Stylist Profile</h3>

Name: <%= @stylist.name %> <br>

Handle: <%= @stylist.handle %> <br>

Email:  <%= @stylist.email %> <br>

Level:  <%= @stylist.level %> <br>

Services:  
<% @stylist.services.each do |service| %>
    <li><%= link_to service.name, service_path(service) %></li>
<% end %>

<p><%= link_to 'Edit Stylist', edit_stylist_path %></p>