<h2>Stylist Profile</h2>

Name: <strong><%= @stylist.name %> <br></strong>
Email:  <%= @stylist.email %> <br>
Social Media: <%= @stylist.handle %> <br>
Expertise Level:  <%= @stylist.level %> <br>

Services: 
<% order_service_by_name(@stylist.services).each do |service| %>
    <li><%= link_to service.name, stylist_service_path(@stylist.id, service.id) %></li>
<% end %>

<% if logged_in? %>
    <br>
    <div class="action-link">
        <p><%= link_to 'Edit', edit_stylist_path %></p>
    </div>

    <br>
    <div class="action-link">
        <p><%= link_to "Book Appointment with #{@stylist.name}", new_stylist_appointment_path(@stylist) %></p>
    </div>

    <br>
    <p><%= link_to 'View Appointments', stylist_appointments_path(@stylist.id) %></p>
<% end %>
