<h3>Welcome to our Salon!</h3>

<p><%= link_to 'About Us', '/about' %></p>

<p><%= link_to 'Contact Us', '/contact' %></p>

<p><%= link_to 'Sign up', '/signup' %></p>

<p><%= link_to 'Log In', '/login' %></p>

<%# <p><%= link_to 'Log Out', logout_path %>
<%= link_to "Log out", logout_path %>

<br><br>
<p>Stylist Login</p> -- put this in the footer and only available on home page 