<div>
    <b>Total Appointments for Stylist:</b><br>
    <% @stylists.each do |stylist| %>
    <%= stylist.name %> (id: <%= stylist.id %>) | 
    Total: <%= @appointments.filter_by_stylist(stylist.id).count %><br>
    <% end %>
</div>
<br>

<div>
    <b>Total Apps count: <%= @appointments.count%></b><br>
    <% @appointments.each_with_index do |app, index| %>
    <%= index +1 %>.
    <%= link_to "Appointment #: #{app.id}", appointment_path(app) %>
    Stylist: <%= display_stylist_name(app) %> (id: <%= app.stylist_id %>)
    <br>
    <% end %> 
</div>

<br>


<%# <%= form_tag({}, method: 'get') do %>