<%= month_calendar(events: @appointments) do |date, appointments| %>
  <%= date.day %> 

  <% 9.upto(20).each do |hour| %>
    <div>
      <b><%= Time.parse("#{hour}:00").strftime("%l %p") %></b>

      <% appointments.each do |appointment| %>
        <% if appointment.start_time.strftime("%H").to_i  == hour %> 
          <div>
            <%= link_to "Appointment #: #{appointment.id}", appointment_path(appointment) %><br>
            Stylist: <%= display_stylist_name(appointment) %><br>
            Time: <%= start_time(appointment) %><br>
            Date: <%= date(appointment) %><br>
            Service(s): 
            <% appointment.services.each do |service| %>
            | <%= service.name %>
            <% end %>
          </div>
        <% end %> 
      <% end %>

    </div>
  <% end %>

<% end %>