<%= month_calendar(events: @appointments) do |date, appointments| %> <%# <%= month_calendar(attribute: :start_date, end_attribute: :end_date) do |date| %> 
  <%= date.day %> 

  <% 9.upto(20).each do |hour| %>
    <div>
      <b><%= Time.parse("#{hour}:00").strftime("%l %p") %></b>

      <% appointments.each do |appointment| %>
        <% if appointment.start_time.strftime("%H").to_i  == hour %> 
          <div>
            <%= link_to "Appointment #: #{appointment.id}", appointment_path(appointment) %><br>
            Stylist: <%= display_stylist_name(appointment) %><br>
            Price: $<%= appointment.cost %><br>
            TIME: <%= start_time(appointment) %><br>
            DATE: <%= date(appointment) %><br>
            Service(s): 
            <% appointment.services.each do |service| %>
              <li><%= service.name %></li>
            <% end %>
          </div>
        <% end %> 
      <% end %>

    </div>
  <% end %>

<% end %>