<%= month_calendar(events: @appointments) do |date, appointments| %>
  <strong><%= date.day %></strong>

  <small>
  <% 9.upto(20).each do |hour| %>
    <div>
      <%= Time.parse("#{hour}:00").strftime("%l %p") %>

      <div>
      <% appointments.each do |appointment| %>
        <% if appointment.start_time.strftime("%H").to_i  == hour %> 

          <ul>  
            <%# <small> %>
            <b><%= link_to "AppointmentID##{appointment.id}", appointment_path(appointment) %></b>
              <br>
              Stylist: <b><%= display_stylist_name(appointment) %></b><br>
              Time: <%= start_time(appointment) %><br>
              Services 
              <% appointment.services.each do |service| %>
              | <%= service.name %>
              <% end %>

          </ul>
        <% end %> 
      <% end %>
      </div>

    </div>
  <% end %>
  </small>
<% end %>