<div>
<%= form_for @appointment do |f| %>
  <%= render partial: 'errors/error', locals: {object: @appointment} %>
  
  <br> 
  <% if params[:client_id] %>
    <%= f.hidden_field :client_id %>
    <%= f.label :client_id, "Client: #{display_client_name(@appointment)}" %><br>
  <% else %>
    <%= f.label :client_id, 'Choose a Client' %><br>  
    <%= f.collection_select :client_id, Client.all, :id, :name, include_blank: true %><br>
  <% end %>

  <br>
  <%= f.label :service_ids, 'Choose Service(s)' %><br> 
  <% if params[:stylist_id] %>
    <%= f.hidden_field :stylist_id %>
    <%= f.collection_check_boxes :service_ids, @stylist.services, :id, :name %><br> 
  <% else %>
    <%= f.collection_check_boxes :service_ids, Service.all, :id, :name %><br>
    <div>
    <br>
    <%= f.label :service_ids, "Stylist's Services" %><br> 
    <% Service.all.each do |service| %>
      <b><%= service.name %></b>
      <% service.stylists.each{|stylist| %> | <%=stylist.name%><% } %> <br>
    <% end %>
    </div> 
  <% end %>
  
  <br> 
  <% if params[:stylist_id] %>
    <%= f.hidden_field :stylist_id %>
    <%= f.label :stylist_id, "Stylist: #{display_stylist_name(@appointment)}" %><br>
  <% else %>
  <%= f.label :stylist_id, 'Choose a Stylist' %><br> 
    <%= f.collection_select :stylist_id, Stylist.all, :id, :name, include_blank: true %> <br> 
  <% end %>

  <br>
  <%= f.label :start_time, 'Choose a Time' %><br>
  <%= f.datetime_local_field :start_time  %> <br>

  <br>
  <%= f.submit submit_tag %>
<% end %>
</div>
