<h2>Appointments Calendar</h2>

<%# Filter by Stylist %>
<div class="filter">
    <%= form_tag({}, method: :get, class: "filter") do %> 
        <%= label_tag :stylist_id, 'Choose a Stylist to Filter:' %><br>  
        <%= select_tag :stylist_id, options_from_collection_for_select(@stylists, :id, :name, params[:stylist_id]), include_blank: true %>
        <%= submit_tag "Select" %>
        <%= link_to "Clear Filter", appointments_path, class:"cancel-button" %> 
    <% end %>
</div>

<%# View for All Apts %>
<% if !params[:stylist_id].present? %>
    <h4>Appointment Total: <%= @appointments.count%></h4>
    <%= render partial: 'table', locals: {appointments: @appointments} %>

<%# View for Stylist Apts %>
<% else %>
    <h4>Appointment Total for <%= @stylist.name %>: <%= @appointments.count %></h4>
    <%= render partial: 'table', locals: {appointments: @appointments} %>

    <div class="action-link">
        <br>
        <p><%= link_to "Book Appointment with #{@stylist.name}", new_stylist_appointment_path(@stylist) %></p>
    </div>
<% end %> 

<%# Render Calendar View %>
<br><h3>Calendar View</h3>
<%= render 'calendar' %>