<h3>Appointments Calendar</h3>


<%# <%= form_tag stylist_appointments_path do %> 
    <%# <%= select_tag(:stylist_id, options_from_collection_for_select(@appointments.filter_by_stylist, :stylist_id, :alias), :include_blank =>true) %>  
     <%# <%=submit_tag "Display" %>  
<%# <% end %> 



<%= form_tag stylist_appointments_path(:stylist_id), :method => 'get', :id => 'stylist_id' do  %>
  <%= label :stylist_id, 'Choose a Stylist to Filter: ' %><br>  

  <%= select_tag :stylist_id, options_from_collection_for_select(@stylists, :id, :name)  %>
  <%# params[:stylist_id] %>

  <%= submit_tag "Select" %>
   <%# <div id="stylists"><%= render stylist_appointments_path(:stylist_id) %></div> 
   <%# <%= render 'appointments' %> 
  <%# <%= f.submit "Look @ Appointments of Stylist", class: "btn btn-primary" %><br><br> 
  <%# stylist_appointments_path(:stylist_id) %>
<% end %>







<%# <%= month_calendar(events: @appointments) do |date, appointment| %> 
<%# <%= month_calendar(attribute: :start_date, end_attribute: :end_date) do |date| %> 
<%= month_calendar(events: @appointments) do |date, appointments| %>
  <%= date.day %> 

  <% 9.upto(20).each do |hour| %>
    <div>
      <b><%= Time.parse("#{hour}:00").strftime("%l %p") %></b>

      <% appointments.each do |appointment|  %>
        <% if appointment.start_time.strftime("%H").to_i  == hour %> 
          <div>
            <%= link_to "Appointment #: #{appointment.id}", appointment_path(appointment) %><br>
            Stylist: <%= display_stylist_name(appointment) %> (id: <%= appointment.stylist_id %>)<br>
            Price: $<%= appointment.price %><br>
            Start Time: <%= appointment.start_time %><br>
              TIME: <%= appointment.start_time.strftime("%l:%M %P") %><br>
              DATE: <%= appointment.start_time.strftime("%F") %><br>
            Service: 
            <% appointment.services.each do |service| %>
              <li><%= service.name %></li>
            <% end %>
          </div>
          TIME in select: <%= appointment.start_time.strftime("%H").to_i  %><br>
          HOUR in select: <%= hour %><br>
        <% end %> 
      <% end %>

    </div>
  <% end %>


<% end %>

