<h2>Appointment #<%= @appointment.id %></h2>

<%= render partial: 'errors/error', locals: {object: @appointment} %>

<div>

Client: <b><%= @appointment.client.name if @appointment.client %></b><br>
Stylist: <b><%= display_stylist_name(@appointment) %></b><br>

Service(s)
<% @appointment.services.each do |service| %>
  | <b><%= service.name %></b>, 
  Price: <%= service.price %>, 
  Mins: <%= service.minutes %>
<% end %><br>

  Cost: $<%= @appointment.cost %><br>
  Duration: <%= @appointment.duration %> minutes<br> 
  Date: <%= date(@appointment) %><br>
  Time: <%= start_time(@appointment) %><br>

</div>

<br>
<div class="action-link">
  <p><%= link_to 'Edit', edit_appointment_path(@appointment) %></p>
</div>

<br>
<p><%= link_to "View Stylist's Calendar", stylist_appointments_path(stylist_id(@appointment)) %></p>
