<h2>Appointment #<%= @appointment.id %></h2>

<%= render partial: 'errors/error', locals: {object: @appointment} %>

<div>

Client: <%= @appointment.client.name if @appointment.client %><br>
Stylist: <%= display_stylist_name(@appointment) %><br>

Service(s)
<% @appointment.services.each do |service| %>
  | <%= service.name %>, 
  price: <%= service.price %>, 
  mins: <%= service.minutes %>
<% end %><br>

  Cost: $<%= @appointment.cost %><br>
  Duration: <%= @appointment.duration %> minutes<br> 
  Time: <%= start_time(@appointment) %><br>
  Date: <%= date(@appointment) %><br>

</div>

<br>
<div class="action-link">
  <p><%= link_to 'Edit', edit_appointment_path(@appointment) %></p>
</div>

<br>
<p><%= link_to "View Stylist's Calendar", stylist_appointments_path(stylist_id(@appointment)) %></p>
