<h3>Appointment #<%= @appointment.id %></h3>

  Stylist: <%= display_stylist_name(@appointment) %><br>
  Price: $<%= @appointment.price %><br>
  Start Time: <%= @appointment.start_time %><br>
  TIME: <%= @appointment.start_time.strftime("%l %P")  %><br>
  DATE: <%= @appointment.start_time.strftime("%F")  %><br>
  Service(s): <% @appointment.services.each do |service| %>
                <li><%= service.name %></li>
                <% end %><br>
  Date <%= @appointment.date %><br>
  TIME: <%= @appointment.start_time.strftime("%l %P")  %><br>
  HOUR: <%= @appointment.start_time.strftime("%l")  %><br>


<p><%= link_to 'Edit Appointment', edit_appointment_path(@appointment) %></p>
<p><%= link_to "View Stylist's Calendar", stylist_appointments_path(stylist_id(@appointment)) %></p><br> 

 <%# <%= apt.start_time.try(:strftime, "%l") %> 
   