<h3>One Appointment</h3>

<br><u>Appointment:<br></u>
  Stylist: <%= display_name(@appointment) %><br>
  Price: $<%= @appointment.price %><br>
  Start Time: <%= @appointment.start_time %><br>
  Service: <% @appointment.services.each do |service| %>
                <li><%= service.name %></li>
                <% end %><br>
  Date <%= @appointment.date %><br><br>




<%= month_calendar(attribute: :start_date, end_attribute: :end_date) do |date| %>
  <%= date.day %><br>  <%= date %><br>

  <% if date == @appointment.date %>
    TRUE!!!!!!!!!!!!!!<br>
    Stylist: <%= display_name(@appointment) %><br>
    Price: $<%= @appointment.price %><br>
    Start Time: <%= @appointment.start_time %><br>
    Service: <% @appointment.services.each do |service| %>
                  <li><%= service.name %></li>
                  <% end %><br>
    Date <%= @appointment.date %><br><br>
  <% end %>

<% end %>

