<h3>Appointment #<%= @appointment.id %></h3>

<%= render partial: 'errors/error', locals: {object: @appointment} %>

<div>
Stylist: <%= display_stylist_name(@appointment) %><br>

Service(s)
<% @appointment.services.each do |service| %>
  | <%= service.name %>, 
  price: <%= service.price %>, 
  mins: <%= service.minutes %>
<% end %><br>

  Price: $<%= @appointment.cost %><br>
  Duration: <%= @appointment.duration %><br>
  Time: <%= start_time(@appointment) %><br>
  Date: <%= date(@appointment) %><br>
  Client Name: <%= @appointment.client.name if @appointment.client %><br>

</div>

<p><%= link_to 'Edit Appointment', edit_appointment_path(@appointment) %></p>
<p><%= link_to "View Stylist's Calendar", stylist_appointments_path(stylist_id(@appointment)) %></p>