<!DOCTYPE html>
<html>
  <head>
    <title>SalonApplication</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

      <div class="header">
          <h1>Salon Application</h1>
          <%# Book an appointment today! %>
      </div>

     <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
     <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 

    <div class="navbar">
      <li><%= link_to 'Home', '/' %></li>
      <li><%= link_to 'About Us', '/about' %></li>
      <li><%= link_to 'Contact Us', '/contact' %></li>
      <li><%= link_to 'Stylists', stylists_path %></li>
      <li><%= link_to 'Services', services_path %></li>
      <li><%= link_to 'Book Appointment', new_appointment_path %></li>
      <li><%= link_to 'View All Appointments', appointments_path %></li>

      <% if logged_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Account <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Profile", current_user %></li>
            <%# <li><%= link_to "Settings", '#' %>
            <li class="divider"></li>
            <li><%= link_to "Log out", logout_path %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Log in", login_path %></li>
        <li><%= link_to 'Sign up', signup_path %></li>
      <% end %>
    </div>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <div class="alert alert-info">
        <%# <%= message %> 
        <%= content_tag(:div, message, class: "alert alert-#{type}") %>
      </div>
    <% end %>

    <div class="main">
        <%= yield %>    <%# loads the view content %>
    </div>

    <div class="footer">
      <small>&copy; 2022 <strong>Salon Application</strong></small>
    </div>
  </body>
</html>